<!DOCTYPE html>
<html>

<head>

    <title>DELUL</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="container home">

    <div class="logo">
        DELUL
    </div>

    <div class="emoji">
        🧠
    </div>

    <h2>
        You think. We make it worse.
    </h2>

    <p>
        A completely unnecessary AI that learns
        how YOU overthink.
    </p>

    <a href="/questions">

        <button>
            DISCOVER MY DELUL TYPE
        </button>

    </a>

</div>

</body>

</html>